{{ if .Site.Params.widgets.blog_languages }}
{{ if not (eq (len .Translations) 0) }}

{{ if eq .Language.LanguageName "Español" }}
    <div class="panel sidebar-menu">
        <div class="panel-heading">
        <h3 class="panel-title">Otros idiomas</h3>
        </div>

        <div class="panel-body">
            <ul class="nav-list">
            {{ range .Translations }}
                <li>
                <a href="{{ .Permalink }}">{{ .Language.LanguageName }}</a>
                </li>
            {{ end}}
            </ul>
        </div>
    </div>
{{ end }}

{{ if eq .Language.LanguageName "English" }}
    <div class="panel sidebar-menu">
        <div class="panel-heading">
        <h3 class="panel-title">Other languages</h3>
        </div>

        <div class="panel-body">
            <ul class="nav-list">
            {{ range .Translations }}
                <li>
                <a href="{{ .Permalink }}">{{ .Language.LanguageName }}</a>
                </li>
            {{ end}}
            </ul>
        </div>
    </div>
{{ end }}

{{ end }}
{{ end }}
