{{ if isset .Site.Params "features" }}
{{ if .Site.Params.features.enable }}
{{ $feat := .Site.Params.features }}
{{ if gt (len $feat) 0 }}
{{ with index .Site.Data.features .Site.Language.Lang }}
<section class="bar background-white">
    <div class="container">

        <div class="heading text-center">
            <h2> {{ $feat.title }} </h2>
        </div>
        <p class="lead">    
            {{ $feat.description | markdownify }}
        </p>
        <div class="heading text-center">
            <h2> {{ $feat.title_obj }} </h2>
        </div>
		<div class="col-md-12">
            <div class="row">
            {{ range $index, $element := sort . "weight" }}
				<div class="col-md-3">
                    <div class="box-simple">
                        <div class="icon">
                            <i class="{{ .icon }}"></i>
                        </div>
                        <h3 style="">{{ $element.name }}</h3>
                        <p>{{ $element.description | markdownify }}</p>
                    </div>
                </div>
             {{ end }}
			</div>
		</div>
    </div>
</section>
{{ end }}
{{ end }}
{{ end }}
{{ end }}
