<!DOCTYPE html>
<html lang="{{ .Site.LanguageCode }}">

  {{ partial "head_books.html" . }}

  <body>

    <div id="all">

        <header>

          {{ partial "nav.html" . }}

        </header>

        <div id="heading-breadcrumbs">
            <div class="container">
                <div class="row">
                    <div class="col-md-12">
                        {{ if eq .Language.LanguageName "Español" }}
                            <h1>BIBLIOTECA</h1>
                        {{ end }}
                        {{ if eq .Language.LanguageName "English" }}
                            <h1>LIBRARY</h1>
                        {{ end }}
                    </div>
                </div>
            </div>
        </div>

        <div id="content">
            <div class="container">
                <div class="row">
                    <!-- *** LEFT COLUMN *** -->

                    <div class="col-md-12" id="blog-listing-medium">                        
                    {{ $paginator := .Paginate (where .Data.Pages "Type" "biblioteca") 30}}
                    {{ $i := div $paginator.TotalNumberOfElements 4 }}
                    {{ if not ((mod $paginator.TotalNumberOfElements 4) | eq 0)}}
                    {{ $i = add $i 1 }}
                    {{ end }}
                    {{ range $j := seq $i}}
                    <div class="row">
                    {{ range first 4 (after (mul (sub $j 1) 4) $paginator.Pages)}}
                        <div class="col-md-3 col-sm-6">
                        <div class="box-image-text blog">
                            <div class="top">
                                <div class="image" style="overflow:hidden">
                                    {{ if isset .Params "banner" }}
                                    <img src="{{ .Site.BaseURL}}{{ .Params.banner }}" class="img-responsive" alt="" >
                                    {{ else }}
                                    <img src="{{ .Site.BaseURL}}img/placeholder.png" class="img-responsive" alt="">
                                    {{ end }}
                                </div>
                                <div class="bg"></div>
                                <div class="text">
                                    <p class="buttons">
                                        <a href="{{ .Params.link }}" class="btn btn-template-transparent-primary"><i class="fas fa-link"></i> {{ i18n "readMore" }}</a>
                                    </p>
                                </div>
                            </div>

                            <div class="content">
                                <h4><a href="{{ .Params.link }}">{{ .Title }}</a></h4>
                                <p class="author-category">
                                {{ if isset .Params "author" }}
                                {{ i18n "authorBy" }} <p>{{ .Params.author }}</p>
                                {{ end }}
                                </p>
                            </div>
                        </div>
                        </div>
                        {{ end }}
                    </div>
                        {{ end }}
                <!-- /.row -->
                </div>
                </div>
            </div>
            <!-- /.container -->
        </div>
        <!-- /#content -->

        {{ partial "footer.html" . }}

    </div>
    <!-- /#all -->

    {{ partial "scripts.html" . }}

  </body>
</html>
